{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Продолжить покупки</a>
				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Товаров: <strong>{{ order.get_cart_items }}</strong></h5></th>
						<th><h5>Всего:<strong> {{order.get_cart_total}}₽</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Оплата</a>
						</th>
					</tr>
				</table>
			</div>
			<br>
			<div class="box-element">

				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Товар</strong></div>
					<div style="flex:1"><strong>Цена</strong></div>
					<div style="flex:1"><strong>Количество</strong></div>
					<div style="flex:1"><strong>Всего</strong></div>
				</div>
                {% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
					<div style="flex:2"><p>{{ item.product.name }}</p></div>
					<div style="flex:1"><p>{{ item.product.price|floatformat:2 }}₽</p></div>
					<div style="flex:1">
						<p class="quantity">{{ item.quantity }}</p>
						<div class="quantity">
							<img class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}" data-product="{{ item.product.id }}" data-action="add">

							<img class="chg-quantity update-cart" src="{% static  'img/arrow-down.png' %}" data-product="{{ item.product.id }}" data-action="remove">
						</div>
					</div>
					<div style="flex:1"><p>{{ item.get_total }}₽</p></div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}